@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Titillium+Web:wght@300&display=swap');

:root{
    --padding-buttom: 0.3em 0.5em;
    --background: #1E1C21;
    --black: #000;
    --yellow: #ffff00;
    --back_grad:linear-gradient(270deg, #000000 50%, rgba(0, 0, 0, 0) 100%);
    --font: 'Titillium Web';
    --border-radius: 0.35em;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
.content{
    width: 80%;
    margin: auto;
    /* background-color: hsl(60, 18%, 79%); */
    height: 100%;
}
.cabeçalho{
    background-color: #1e1c21;
    width: 100%;
    height: 5em;
}
.flex-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cabeçalho .zoom{
    width: 100%;
    max-width: 21.18em;
    overflow: hidden;
    transition: 0.5s;
}
.menu{
    width: 100%;
    max-width: 50em;
}
.menu ul{
    list-style-type: none;
}
.click{
    font-family:roboto ;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    font-family: roboto;
    text-transform: uppercase;
    font-weight: bolder;
    padding: var(--padding-buttom);
    border-radius: 0.35em;
    transition: 0.5s;
}
.click:hover{
    color: var(--black);
    background-color: white;
}
.zoom:hover {
    transform:scale(1.1);
}
.banner{
    position: relative;
    border: none;
}
.banner-img{
    max-width: 100%;
}
.banner-content{
    height: 37.5em;
    width: 100%;
    /* background-color: rgba(0, 0, 255, 0.418); */
    position: absolute;
    top: 0;
}
.banner-80{
    height: 100%;
    width: 80%;
    /* background-color: rgba(255, 255, 255, 0.5); */
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.metade{
    width: 50%;
    /* background-color: rgba(255, 166, 0, 0.418); */
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.metade h1{
    font-size: 5.62em;
    color: white;
    font-family: var(--font);
    font-weight: bolder;
    text-transform: capitalize;
}
.metade h1 span{
    text-transform: uppercase;
}
.metade p{
    font-size: 1.87em;
    color: white;
    font-family: Roboto;
    text-transform: capitalize;
    padding-bottom: 60px;
}
.metade .botao-meio{
    padding: 15px 25px;
    background-color: red;
    font-family: Roboto;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 1.87em;
    overflow: hidden;
    transition: 0.5s;
}
.botao-meio:hover{
    transform:scale(1.1);
}
.games{
    width: 100%;
    height: 7.5em;
    background-color: var(--background);
}
.jogos{
    width: 80%;
    /* background-color: aqua; */
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}
.img-games{
    /* background-color: black; */
    width: 100%;
    list-style-type:none;
}
.hover{
    opacity: 0.6;
    overflow: hidden;
    transition: 0.5s;
}
.hover:hover{
    transform: scale(1.1);
    opacity: 1;
}
.como{
    position: relative;
}
.ezreal-azul{
    background-color: blue;
    height: 30.46em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ezreal-preto{
    background-color: var(--black);
    height: 25em;
    width: 100%;
    transform: skewY(-2.5deg);
}
.ez{
    position: absolute;
    top: 0;
}
.ez-content{
    width: 80%;
    margin: auto;
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items:  center;
}
.text-ez{
    width: 40%;
    text-align: start;
}
.ez-img{
    width: 38%;
}
.text-ez h2{
    padding-top: 60px;
    padding-bottom: 50px;
    color: white;
    font-size: 2.6em;
    font-family:'Titillium Web', sans-serif; 
}
.text-ez p{
    line-height: 20px;
    color: white;
    font-size: 1.2em;
    font-family:'Titillium Web', sans-serif; 
}
@media screen and (max-width: 74.93em){
    
}

@media screen and (max-width: 991px){
    
}

@media screen and (max-width: 767px){
    
}

@media screen and (max-width: 576px){
    
}
