@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Titillium+Web:wght@300&display=swap');

:root{
    --padding-buttom: 0.3em 0.5em;
    --background: #1E1C21;
    --black: #000;
    --yellow: #ffff00;
    --backgrad:linear-gradient(270deg, #000000 50%, rgba(0, 0, 0, 0) 100%);
    --font: 'Titillium Web';
    --border-radius: 0.35em;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
.btnMenu{
    display: none;
}
.content{
    width: 80%;
    margin: auto;
    /* background-color: hsl(60, 18%, 79%); */
    height: 100%;
}
.cabeçalho{
    background-color: #1e1c21;
    width: 100%;
    height: 5em;
}
.flex-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cabeçalho .zoom{
    width: 100%;
    max-width: 21.18em;
    overflow: hidden;
    transition: 0.5s;
}
.menu{
    width: 100%;
    max-width: 50em;
}
.menu ul{
    list-style-type: none;
}
.click{
    font-family:roboto ;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    font-family: roboto;
    text-transform: uppercase;
    font-weight: bolder;
    padding: var(--padding-buttom);
    border-radius: 0.35em;
    overflow: hidden;
    transition: 0.5s;
}
.click:hover{
    color: var(--black);
    background-color: white;
}
.zoom:hover {
    transform:scale(1.1);
}
.banner{
    background-image: url("../img/Banner1920.jpg");
    height: 600px;
    background-position: center;
    display: flex;
    justify-content: flex-end;
}
.content-banner{
    height: 100%;
    width: 50%;
    /* background-color: rgba(137, 43, 226, 0.267); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.metade{
    height: 70%;
    width: 80%;
    /* background-color: rgba(128, 255, 0, 0.356); */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.metade h1{
    color: white;
    font-family: Titillium Web;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    text-transform: uppercase;
    width: ;
}
.metade p{
    color: white;
    font-family: Roboto;
    font-weight: normal;
    font-size: 25px;
    padding-bottom: 30px;    
}
.botton{
    height: 20%;
    width: 50%;
    /* background-color: rgba(0, 255, 255, 0.418); */
    display: flex;
    align-items: center;
    justify-content: center;
}
.botton .b{
    text-decoration: none;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    background-color: #C20000;
    text-transform: uppercase;
    padding: 14px 33px;
    border-radius: 8px;
    transition: 0.5s;
    overflow: hidden;
}
.b:hover{
    transform: scale(1.1);
    background-color: #001F70;
}
.games{
    width: 100%;
    height: 7.5em;
    background-color: var(--background);
}
.jogos{
    width: 80%;
    /* background-color: aqua; */
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}
.img-games{
    /* background-color: black; */
    width: 100%;
    list-style-type:none;
}
.hover{
    opacity: 0.6;
    overflow: hidden;
    transition: 0.5s;
}
.hover:hover{
    transform: scale(1.1);
    opacity: 1;
}
.como{
    position: relative;
}
.ezreal-azul{
    background-color: #001F70;

    height: 30.46em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ezreal-preto{
    background-color: var(--black);
    height: 25em;
    width: 100%;
    transform: skewY(-2.5deg);
}
.ez{
    position: absolute;
    top: 0;
}
.ez-content{
    width: 80%;
    margin: auto;
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items:  center;
}
.text-ez{
    width: 50%;
    text-align: start;
}
.ez-img{
    width: 38%;
}
.text-ez h2{
    padding-top: 60px;
    padding-bottom: 50px;
    color: white;
    font-size: 2.6em;
    font-family:'Titillium Web', sans-serif; 
    font-weight: bold;
}
.text-ez p{
    line-height: 20px;
    color: white;
    font-size: 1.2em;
    font-family:'Titillium Web', sans-serif; 
}
.partidas{
    height: 7.5em;
    width: 100%;
    background-color: var(--black);
}
.times-content{
    height: 100%;
    margin: auto;
    width: 90%;
    display: flex;
    align-items:center ;
    justify-content:space-around ;
}
.content-pequeno-1{
    display: flex;
    align-items: center;
    height: auto;
    width: 4.37em;
    /* background-color: gray; */
}
.content-pequeno-1{
    color: white;
    font-family: roboto;
    font-size: 1.87em;
    text-transform: uppercase;
    font-weight: bolder;
}
.content-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.06em;
    width: 23%;
    overflow: hidden;
    transition: 0.5s;
    /* background-color: gray; */
}
.sk{
    color: white;
    text-transform: uppercase;
    font-size: 1.87em;
    font-family: roboto;
    font-weight: bolder;
}
.vs{
    color: white;
    font-size: 1.87em;
    font-family: roboto;
    font-weight: bolder;
}
.content-em-breve{
    display: flex;
    align-items: center;
    height: 5em;
    width: 93px;
    /* background-color: gray; */
}
.content-em-breve p{
    font-family: roboto;
    font-size: 1.87em;
    color: white;
    text-transform: uppercase;
}
.traço{
    color: white;
    font-size: 70px;
}
.content-2:hover{
    transform: scale(1.1);
}
.not{
    width: 100%;
    height: 950px;
    background-color: var(--background);
}
.nott{
    /* background-color: navajowhite; */
    width: 90%;
    height: 70px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.no{
    text-transform: uppercase;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 41px;
}
.proximo{
    text-transform: uppercase;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 41px;
}
.not-content{
    width: 90%;
    height: 875px;
    background-color: #ffff0000;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.noticias{
    width: 70%;
    height: 800px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.not-linha{
    /* background-color: white; */
    width: 100%;
    height: 364px;
    display: flex;
    justify-content: space-between;
}
.not-quadrado{
    box-shadow: 1px 1px 20px 4px #000000;
    height: 100%;
    width: 237px;
    background: linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);
    overflow: hidden;
    transition: 0.5s;
    font-weight: bold;
}
.not-pp h2{
    padding: 10px 0px 10px 10px;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
}
.not-pp p{
    padding-left: 10px;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;

}
.not-quadrado:hover{
    transform: scale(1.1);
}
.placar{
    width: 237px;
    height: 800px;
    background: linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.placar-content{
    width: 90%;
    height: 78px;
    /* background-color: rgb(211, 23, 23); */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    transition: 0.5s;
}
.placar-times{
    height: 39px;
    /* background-color: white; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.placar-content p{
    text-transform: uppercase;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}
.x{
    font-weight: bold;
}
.placar-times img{
    width: 40px;
}
.data{
    /* background-color: yellow; */
    width: 100%;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.data p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px; 
}
.placar-content:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
footer{
    height: 210px;
    width: 100%;
    background-color: black;
}
.pe-content{
    width: 90%;
    height: 100%;
    /* background-color: rebeccapurple; */
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.linkos{
    width: 400px;
    height: 100%;
    /* background-color: royalblue; */
    display: flex;
    justify-content: space-between;
}
.links-ut{
    width: 50%;
    height: 100%;
    /* background-color: snow; */
}
.links-ut h4{
    color: white;
    font-family: Titillium Web;
    font-size: 24px;
    font-weight: bold;
}
.links-ut ul{
    padding-left: 30px;
    padding-top: 20px;
}
.links-ut li{
    color: white;
}
.links-ut a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: Titillium Web;
}
.pag{
    width: 50%;
    height: 100%;
    /* background-color: springgreen; */
}
.pag h4{
    color: white;
    font-family: Titillium Web;
    font-size: 24px;
    font-weight: bold;
}
.pag li{
    color: white;
}
.pag ul{
    padding-left: 30px;
    padding-top: 20px;
}
.aa{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: Titillium Web;
}
.aa:hover{
    text-decoration: underline;
}
.logo-pe{
    width: 305px;
    height: 70%;
    /* background-color: salmon; */
    display: flex;
    align-items: center;
}
.pe-chata{
    width: 400px;
    height: 80%;
    /* background-color: seagreen; */
}
.pe-titulo{
    width: 100%;
    height: 40px;
    /* background-color: white; */
    display: flex;
    align-items: center;
}
.pe-titulo p{
    color: white;
    font-family: Titillium Web;
    font-size: 16px;
}
.pe-but{
    width: 100%;
    height: 80px;
    /* background-color: yellow; */
    display: flex;
    flex-direction: row;
    align-items: center;
}
.email{
    width: 60%;
    height: 37px;
    background-color: white;
}
.email p{
    color: rgba(0, 0, 0, 0.342);
    font-family: Titillium Web;
    font-size: 24px;
    font-weight: bold;
    padding-left: 15px;
}
.bottao{
    padding-bottom: 4px;
    padding-top: 4px;
    overflow: hidden;
    transition: 0.5s;
}
.bottao{
    text-decoration: none;
    font-family: Titillium Web;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #8326EF;
    padding: 4px 31px;
    transition: 0.5s;
}
.bottao a:hover{
    background-color: #001F70;
}
.bottao:hover{
    transform: scale(1.1);
}
.pe-divulga{
    width: 100%;
    height: 50px;
    /* background-color: green; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.pe-divulga p{
    color: white;
    font-family: Titillium Web;
    font-size: 24px;
    font-weight: 700;
    line-height: 37px;
}
.pe-divulga img{
    overflow: hidden;
    transition: 0.5s;
}
.pe-divulga img:hover{
    transform: scale(1.1);
}
@media screen and (max-width: 1440px){
    .banner{
       background-image: url("../img/Banner1440.jpg");
    }
    .content-banner{
        width: 100%;
    }
    .content{
        width: 100%;
    }
    .flex-content{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .metade{
        width: 60%;
        margin-left: 550px;
    }
    .metade p{
        padding-bottom: 70px;
    }
    .ez-content{
        width: 90%;
    }
    .text-ez{
        width: 50%;
    }
    .pe-content{
        width: 100%;
    }
@media screen and (max-width: 1200px){
    .metade{
        margin-left: 450px;
    }
    .metade h1{
        font-size: 70px;
    }
    .botton{
        width: 60%;
    }
    .click{
        font-size: 20px;
    }
    .text-ez{
        width: 60%;
    }
    .ez-img{
        width: 50%;
    }
    .times-content{
        width: 100%;
    }
    .not-quadrado{
        width: 200px;
    }
    .not-pp p{
        font-size: 13px;
    }
    .logo-pe{
        width: 350px;
        padding-right: 100px;
    }
    .pe-titulo p{
        font-size: 14px;
    }
    .email{
        height: 30px;
    }
    .email p{
        font-size: 20px;
    }
    .bottao a{
        padding: 1px 10px;
    }
@media screen and (max-width: 991px){
    .banner{
        background-image: url("../img/Banner768.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .metade{
        margin-left: 300px;
    }
    .metade h1{
        font-size: 60px;
    }
    .metade p{
        font-size: 20px;
    }
    .zoom{
        display: none;
    }
    .games{
        height: 270px;
    }
    .img-games{
        flex-wrap: wrap;
        width: 70%;
        justify-content: center;

    }
    .hover{
        padding: 10px 0;
    }
    .ezreal-azul{
        height: 36em;
        width: 100%;
    }
    .ezreal-preto{
        height: 29em;
    }
    .ez-content{
        flex-wrap: wrap;
        justify-content: center;
    }
    .text-ez{
        width: 100%;
        text-align: center;
    }
    .text-ez h2{
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .text-ez p{
        font-size: 16px;
    }
    .ez-img{
        width: 42%;
    }
    .content-pequeno-1 {
        font-size: 18px;
        width: auto;
    }
    .content-2 p{
        font-size: 18px;
    }
    .content-2 img{
        width: 20%;
    }
    .content-em-breve{
        font-size: 13px;
        width: 10%;
    }
    .not{
        height: 1200px;
    }
    .proximo{
        display: none;
    }
    .not-content{
        flex-wrap: wrap;
    }
    .nott{
        display: flex;
        align-items: center;
    }
    .noticias{
        width: 100%;
    }
    .placar{
        margin-top: 20px;
        display: flex;
        width: 100%;
        height: 300px;
        flex-wrap: wrap;
    }
    .placar-content{
        width: 40%;
    }
    .pe-content{
        display: flex;
        justify-content: space-around;
    }
    .pe-titulo p{
        font-size: 1em;
    }
    .pag{
        display: none;
    }
    .links-ut{
        width: auto;
    }
    .aa{
        width: 100%;
    }
    .logo-pe{
        display: none;
    }
    .bottao{
        padding: 1px 31px;
    }
}
@media screen and (max-width: 768px){
    .banner{
        background-size: cover;
    }
    .metade{
        width: 100%;
        margin: auto;
    }
    .click{
        overflow: hidden;
        transition: 0.5s;
        background-color: white;
        color: black;
    }
    .click:hover{
        transform: scale(1.1);
        background-color: black;
        color: white;
    }
    .fas{
        color: white;
        padding-left: 20px;
        padding-bottom: 20px;
    }
    .ez-img{
        width: 45%;
    }
    .menu{
        width: 100%;
    }
    #meusLinks{
        width: 100%;
        height: 350px;
        background-color: #000;
        position: absolute;
        top: 60px;
        flex-direction: column;
        justify-content: space-around;
    }
    .menu ul a:hover {
        background-color: unset;
    }
    .btnMenu{
        display: block;
    }
    .games{
        height: 300px;
    }
    .img-games{
        width: 80%;
        justify-content: space-around;
    }
    .not-linha{
        flex-wrap: wrap;
        justify-content: center;
    }
    .not-quadrado{
        margin: 20px 20px;
    }
    .delete{
        display: none;
    }
    .placar{
        margin-bottom:30px;
    }
    .sla{
        display: none;
    }
    .content-pequeno-1{
        display: none;
    }
    .banner-grande{
        position: none;
    }
}
@media screen and (max-width: 576px){
    .metade h1{
        font-size: 50px;
    }
    .img-games{
        width: 100%;
    }
    .games{
        height: 370px;
    }
    .jogos{
        height: none;
    }
    .ezreal-azul{
        height: 40em;
    }
    .ezreal-preto{
        height: 33em;
    }
    .traço{
        display: none;
    }
    .not-content{
        width: 100%;
    }
    .not{
        height: 1800px;
    }
    .not-quadrado{
        margin: 50px 50px;
    }
    .not-content{
        height: 100%;
        justify-content: space-between;
        flex-direction: column;
    }
    .placar{
        margin-bottom: 100px;
    }
    .pe-divulga p{
        display: none;
    }
    .email{
        width: 55%;
    }
    .bottao{
        padding: 1px 8px;
    }
    .botton{
        width: 100%;
    }
    .content-2{
        width: 30%;
    }
    .content-em-breve p{
        font-size: 1.5em;
    }
    .pe-titulo p{
        font-size: 15px;
    }
}
